$half-white: hsla(0,0%,100%,.75);
#{$USStateCartogram-container} {
  position: relative;
  /* Write your chart styles here */
  .state-name{
    position: absolute;
    p {
        color: $half-white;
        font-size: .8rem;
        font-weight: 200;
    }
    p, svg{
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 0;
      line-height: 1rem;
    }
    .fa-caret-down{
      color: #74c476;
    }
    .fa-caret-up{
      color: #ee665b;
    }
  }

  .state-name.bold p{
    font-weight: bold;
  }
  .tooltip{
    pointer-events: none;
  }
  text.tooltip{
    text-shadow: 2px 2px 10px black;
    font-size: 14px;
    fill: #fff;
    padding: 0;
    &.date{
      font-size: 11px;
    }
  }

}
